*, *::before, *::after {
  box-sizing: border-box;
}

body{
  font-family: Futura,Trebuchet MS,Arial,sans-serif; 
}

h1, p {
  color: #000000;
}

#top-nav {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #ffffff;
  padding-left: 2rem;
}

#background {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  box-shadow: inset 0px 10px 20px 0px #000000bf;
  background-image: url("../images/germs-scaled.jpg");
}

#pathogens-box {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.card {
  width: 40%;
  display: flex;
  color: #000000;
  padding: 1rem;
  box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.75);
  border-radius: 10px;
  background-color: #ffffff;
}

.card-image {
  width: 100%;
  height: auto;
}

.gtk {
  font-style: italic;
}

@media only screen and (max-width: 750px) {
  .card {
    width: 100%;
  }
}