*, *::before, *::after {
  box-sizing: border-box;
}

body{
  font-family: Futura, Trebuchet MS, Arial, sans-serif; 
}

h1, p {
  color: #000000;
}

#top-nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f1f1f1;
  padding-left: 2rem;
  padding-right: 2rem;
}

#background {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  box-shadow: inset 0px 10px 20px 0px #000000bf;
  background-image: url("../images/germs-scaled.jpg");
}

#pathogens-box {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.card {
  width: 40%;
  display: flex;
  color: #000000;
  padding: 1rem;
  box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.75);
  border-radius: 1rem;
  background-color: #f1f1f1;
}

.card-image {
  width: 100%;
  height: auto;
}

.gtk {
  font-style: italic;
}

.bottom-panel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 98%;
  top: 1%;
  background-color: #000000cc;
  color: #f1f1f1;
  overflow-x: hidden;
  transition: 0.75s;
  padding-top: 2.5rem;
  padding-bottom: 0.5rem;
  border-radius: 2rem;
}

#input-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  gap: 2rem;
}

label {
  font-weight: bold;
}

input {
  background-color: #525252;
  color: #f1f1f1;
}

.form-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#classification {
  background-color: #525252;
  color: #f1f1f1;
  font-weight: bold;
}

#submitbtn {
  width: 50%;
  justify-self: center;
  align-self: center;
  background-color: transparent;
  color: #f1f1f1;
  font-size: 2rem;
  align-items: center;
  border: none;
  border-radius: 2rem;
}

#submitbtn:hover {
  color: #c0c0c0;
  cursor: pointer;
}

.closebtn {
  position: absolute;
  top: 0;
  right: 1.5%;
  font-size: 1.75rem;
  color: #f1f1f1;
}

.add-items {
  font-size: 1.5rem;
  cursor: pointer;
  background-color: #000000;
  color: #f1f1f1;
  padding: 0.75rem;
  border: none;
  border-radius: 1rem;
}

.add-items:hover {
  background-color:#525252;
}

@media only screen and (max-width: 750px) {
  .card {
    width: 100%;
  }
  .add-items {
    font-size: 1rem;
  }
  .closebtn {
    right: 5%;
  }
}